@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UNIVA</h1>
    <p class="lead">Cloud Computing</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Platform as a service(PaaS)</h2>
        <p>
            is a category of cloud computing services
            that provides a platform allowing customers to develop, 
            run, and manage applications without the complexity of building and
            maintaining the infrastructure typically associated
            with developing and launching an app
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Platform_as_a_service">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Software as a service(SaaS)</h2>
        <p> is a software licensing and delivery model in which software is licensed on a subscription basis and is centrally hosted. It is sometimes referred to as "on-demand software", and was formerly referred to as "software plus services" by Microsoft</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Software_as_a_service">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Infrastructure as a service(IaaS)</h2>
        <p> is a standardized, highly automated offering, where compute resources, complemented by storage and networking capabilities are owned and hosted by a service provider and offered to customers on-demand.</p>
        <p><a class="btn btn-default" href="http://www.gartner.com/it-glossary/infrastructure-as-a-service-iaas/">Learn more &raquo;</a></p>
    </div>
</div>
